<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
    xmlns="http://java.sun.com/xml/ns/j2ee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
	                    http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd">
	<!-- 配置dispatcherServlet -->
<servlet>
    <servlet-name>mvc</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/springmvc-servlet.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
</servlet>
<servlet-mapping>
    <servlet-name>mvc</servlet-name>
    <url-pattern>/</url-pattern>
</servlet-mapping>

 <filter>
      <filter-name>TimeFilter</filter-name>
      <filter-class>com.tycho.filter.TimeFilter</filter-class>
  </filter>
  <filter-mapping>
      <filter-name>TimeFilter</filter-name>
      <url-pattern>/*</url-pattern>
      <!-- /*是对所有的文件进行拦截 -->
  </filter-mapping>
<filter>
      <filter-name>encodingFilter</filter-name>
      <filter-class>com.tycho.filter.EncodingFilter</filter-class>
      <init-param>
          <param-name>encoding</param-name>
          <param-value>UTF-8</param-value>
      </init-param>
  </filter>
  <filter-mapping>
      <filter-name>encodingFilter</filter-name>
      <url-pattern>/*</url-pattern>
      <!-- /*是对所有的文件进行拦截 -->
  </filter-mapping>
</web-app>
